data/
for_another_repo/
DANSK_link.txt
gold-multi-training/*/*.spacy
gold-multi-training/wandb/
gold-multi-training/output/model-*
gold-multi-training/models/da*/*.*
gold-multi-training/packages/dan*/da_pipe*